[Desktop Entry]
Name=XColour
GenericName=Colour Picker
GenericName[de]=Farbwähler
GenericName[fr]=Pipette à couleurs
GenericName[se]=Färgväljare
GenericName[fi]=Värinvalitsija
GenericName[jp]=カラーピッカー
Comment=Select colours visible anywhere on the screen to get their RGB representation
Comment[de]=Wähle Farben an einer beliebigen Stelle auf dem Bildschirm aus, um ihre RGB-Darstellung zu erhalten
Keywords=colour;color;picker;select;design;
TryExec=xcolour
Exec=xcolour -s
Terminal=false
Type=Application
Categories=Graphics;Utility;
Icon=xcolour
